<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ranchi Tourist Guide</title>
    <link rel="shortcut icon" href="assets1/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets1/images/fav.jpg">
    <link rel="stylesheet" href="assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets1/css/all.min.css">
    <link rel="stylesheet" href="assets1/css/animate.css">
    <link rel="stylesheet" href="assets1/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets1/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="assets1/css/style.css" />
</head>

<body>
  
    
    
    <header class="container-fluid">


      
        <div id="menu-jk" class="header-bottom">
             <div class="container-fluid">
                 <div class="row">
                 
                     
                     <div id="menu" class="navs d-none d-md-block col-md-9">
                         <ul>
                            
                            <li><a href="/">Home</a></li>
                            <li><a href="/map">Search Map</a></li>
                            <li><a href="/about_us">About Us</a></li>
                            <!-- <li><a href="/contact">Contact</a></li> -->
                            <li><a href="/campgrounds">Explore</a></li>
                            <li><a href="/campgrounds/new">Add new place</a></li>                         
                            <% if(!currentUser) {%>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <% } else {%>
                                 <li><a href="/logout">Logout</a></li>
                                
                                <% } %>

                             
                         </ul>
                         
                     </div>
                     
                 </div>
             </div>
         </div>
   </header>


   <br>
      
  
       
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Ranchi Tourist Guide </h2>

                <p>
                    Ranchi Tourist Guide website offers comprehensive information on travel destinations present in Ranchi - Capital of Jharkhand.
                    Users can browse through detailed guides, including attractions, accommodations, and activities.

                </p>

                <p>
                    Interactive maps help tourists plan their itineraries and navigate unfamiliar places.

                </p>

                <p>
                    Engaging articles provide insights into local culture, history, and cuisine.
                    Stunning photographs showcase the beauty of each destination.

                </p>
                <p>
                    User reviews and ratings help travelers make informed decisions about their trips.

                </p>
                <p>
                    The website may feature customizable trip planning tools to tailor experiences to individual preferences.
                    Integration with booking platforms allows users to reserve accommodations, tours, and transportation seamlessly.
                    Regular updates ensure that travelers have access to the latest information and trends.
                </p>



            </div>
            <div class="image-part col-md-6">
                <img src="assets1/images/about.jpg" alt="">
            </div>
        </div>
    </div>
    </div> 
       

   
    <section class="our-team">
        <div class="container">
            <div class="session-title row">
                <h2>Our Team</h2>
               
            </div>
            <div class="row team-row">
                
                <div class="col-md-4 col-sm-6">
                    <div class="single-usr">
                        <img  style="height:400px"src="owner/1.jpg" alt="">
                        <div class="det-o">
                            <h4>Karan Gari</h4>
                            <i>Full Stack Web Developer</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-usr">
                        <img style="height:400px" src="owner/3.jpg" alt="">
                        <div class="det-o">
                            <h4>Ankur Kumar</h4>
                            <i>Web developer</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-usr">
                        <img style="height:400px" src="owner/2.jpg" alt="">
                        <div class="det-o">
                            <h4>Shubham Anand</h4>
                            <i>Web developer</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    

    <div class="copy">
        <div class="container">
            <p> Designed and Developed by Karan, Ankur, Shubham</p>

         
        </div>

    </div>                  
    
    
</body>

<script src="assets1/js/jquery-3.2.1.min.js"></script>
<script src="assets1/js/popper.min.js"></script>
<script src="assets1/js/bootstrap.min.js"></script>
<script src="assets1/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets1/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets1/js/script.js"></script>

</html>