<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/contact/newcontact" method="post">
    


        <div class="row cont-row">
            <div  class="col-sm-3"><label>Enter Name </label><span>:</span></div>
            <div class="col-sm-8"><input type="text" placeholder="Enter Name" id="name" name="name" class="form-control input-sm"  ></div>
        </div>
        <div  class="row cont-row">
            <div  class="col-sm-3"><label>Email Address </label><span>:</span></div>
            <div class="col-sm-8"><input type="text" id="email" name="email" placeholder="Enter Email Address" class="form-control input-sm"  ></div>
        </div>
        <div  class="row cont-row">
            <div  class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
            <div class="col-sm-8"><input type="number" id="mobile_number" name="mobile_number" placeholder="Enter Mobile Number" class="form-control input-sm"  ></div>
        </div>
        <div  class="row cont-row">
            <div  class="col-sm-3"><label>Enter Message</label><span>:</span></div>
            <div class="col-sm-8">
                <div class="col-sm-8"><input type="text" id="message" name="message" placeholder="message" class="form-control input-sm"  ></div>
             
            </div>
        </div>
        <div style="margin-top:10px;" class="row">
            <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
            <div class="col-sm-8">
                <button class="btn btn-success btn-sm" type="submit">Send Message</button>
            </div>
        </div>
    </form>

    
    
    </form>
    
</body>
</html>