<!doctype html>
<html lang="en">
    <head>
        <title>Ranchi Tourist Guide </title>
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link rel="stylesheet" href="login_register.css">
        <!-- <link rel="stylesheet" href="login.css"> -->

        <style>
            body {
              background-image: url('1.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>

    <body>
       
        <% layout('layouts/boilerplate')%>

      
   

        <main>

               
     <div class="container d-flex justify-content-center align-items-center min-vh-100">
        
        
        
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            
        
           <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background:#f4f2e6">
               <div class="featured-image mb-3">
                <img src="icon.gif" class="img-fluid" style="width: 250px;">
               </div>
               
           </div> 
       
            
           <div class="col-md-6 right-box">
              <div class="row align-items-center">
                    <div class="header-text mb-4">
                        
                         <h2>Hello !</h2>
                         <p>Welcome back</p>
                    </div>
                    <form   action="/login" method="post" class="validated-form" novalidate  >
                    <div class="input-group mb-3">
                        <input type="text" name="username" id ="username" class="form-control form-control-lg bg-light fs-6" placeholder="Email address" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" name="password" id="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                       
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6"  type="submit"  >Login</button>
                       
                        
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" type="reset">Reset</button>
                    </div>
                </form>      

              



                    <div class="input-group mb-3">
                        <!-- <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width:20px" class="me-2"><small>Sign In with Google</small></button> -->
                    </div>
                    <div class="row">
                        <small>Don't have account? <a href="/register">Sign Up</a></small>
                    </div>
              </div>
           </div> 
          </div>
        </div>














        </main>
        <footer>
           
        </footer>
       
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
