<!doctype html>
<html lang="en">
    <head>
        <title>Ranchi Tourist Guide </title>
       
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link rel="stylesheet" href="login_register.css">
        <!-- <link rel="stylesheet" href="login.css"> -->

        <style>
            body {
              background-image: url('2.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>


<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const emailInput = document.getElementById('email');
        const usernameInput = document.getElementById('username');

        // Update username input value when email input changes
        emailInput.addEventListener('input', function () {
            usernameInput.value = emailInput.value;
        });
    });
</script> -->


    </head>

    <body>
        <% layout('layouts/boilerplate')%>
        <main>

                
     <div class="container d-flex justify-content-center align-items-center min-vh-100">
       
           <div class="row border rounded-5 p-3 bg-white shadow box-area">
            
        
           <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background:#f4f2e6">
               <div class="featured-image mb-3">
                <img src="icon.gif" class="img-fluid" style="width: 350px;">
               </div>
               
           </div> 
        
            
           <div class="col-md-6 right-box">
              <div class="row align-items-center">
                    <div class="header-text mb-4">
                         <h2>Register yourself with us</h2>
                         
                    </div>
                    <form action="/register" method="POST" class="validated-form" novalidate >
                        

                    <div class="input-group mb-3">
                      
                        <input type="text" name="first_name" id="first_name" class="form-control form-control-lg bg-light fs-6" placeholder="First name" required>
                    </div>
                    <div class="input-group mb-3">
                     
                      <input type="text" name="last_name" id="last_name" class="form-control form-control-lg bg-light fs-6" placeholder="Last name" required>
                  </div>
                    
                  

                <div class="input-group mb-3">
                   
                    <input type="text" name="username" id="username" class="form-control form-control-lg bg-light fs-6" placeholder="Username"  >
                </div>

                <div class="input-group mb-3">
                    
                    <input type="email" name="email" id="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" required>
                </div>


                    
                       
                        <input type="password" name="password" id="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" required>
                    </div>
                   

                    <div class="input-group mb-5 d-flex justify-content-between">
                        
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Submit</button>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" type="reset">Reset</button>
                    </div>
                </form>

                    <div class="input-group mb-3">
                        <!-- <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width:20px" class="me-2"><small>Sign In with Google</small></button> -->
                    </div>
                    
                   

              </div>
           </div> 
          </div>
        </div>














        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
